h4 {
    color: darkmagenta;
}

.list-group-item  {
    background: none;
    border-style: none;
    border-radius: 0%;
}
.list-group {
    border-radius: 0%;
}

.evenRow {
    background-color: lightsalmon;
}