h4 {
    color: darkmagenta;
}
/*TODO: need to fix submit hiding under footer */
main {
    margin-bottom: 100px;
}

.list-group-item  {
    background: none;
    border-style: none;
    border-radius: 0%;
}
.list-group {
    border-radius: 0%;
}

.evenRow {
    background-color: lightsalmon;
}