body {
    background-color: ivory;
}
.navbar {
    background-color: lightsalmon;
    color: forestgreen;
}

footer {
    background-color: forestgreen;
    color: lightsalmon;
}

.btn {
    border: 3px solid darkmagenta;
    border-radius: 10%;
    color: darkmagenta;
}

.btn:hover {
    background-color:darkmagenta;
    opacity: 0.7;
    color: forestgreen
}